modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 38790855
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --hostname 0.0.0.0"

[[workflows.workflow]]
name = "Production Start"
author = 38790855
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
